body {
    background-color: green;
}

.card {
    background-color: white;
    border-radius: 5%;
    max-height: auto;
    width: 350px;
    margin: auto;

}

#numcarta {
    font-size: 150px;
    margin-left: 35%;
}

#picaa {
    font-size: 70px;
    padding-left: 35px;
    padding-top: 20px;
}

#picaa2 {
    font-size: 70px;
    transform: rotate(180deg);
    padding-top:20px;
    padding-left: 35px;
}





